/*===================
    import fonts
===================*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

/*===================
    general
===================*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #787878;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 22px;
}

/* body::-webkit-scrollbar {
    display: none;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  color: #232323;
}

h1 {
  font-size: 34px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
  font-weight: 500;
}

h6 {
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111;
}

a {
  color: #111;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
}

img {
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.section {
  padding: 55px 0 75px 0;
}

/*===================
    button
===================*/
.button {
  background: #7ba549;
  border: 0;
  color: #fff;
  padding: 6px 14px 6px 14px;
  border-radius: 5px;
  font-size: 15px;
  position: relative;
  /* padding: 10px 30px; */
  transition: all 0.3s;
  margin-top: 20px;
  min-width: 160px;
}

.button:hover {
  border-radius: 30px;
}

.buttonsn {
  border: 2px solid #7ba549; /* Add a border instead of a background */
  color: #7ba549; /* Set text color to match the border color */
  padding: 6px 14px 6px 14px; /* Adjust padding for a cleaner look */
  border-radius: 5px;
  font-size: 15px;
  position: relative;
  transition: all 0.3s;
  margin-top: 20px;
  background: transparent; /* Set background to transparent */
}
.signbtn {
  min-width: 100px;
}

.regbtn {
  margin-left: 20px;
}
.test {
  display: flex;
  width: 100%;
}
/*===================
    navbar
===================*/

.seologo {
  /* width: 11; */
  min-width: 200px;
  max-width: 200px;
  /* width: 150px; */
}
.navbar {
  padding: 10px 0 10px 0;
}

.navbar .navbar-brand h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.6em;
}

.navbar .nav-item {
  font-size: medium;
}

.navbar .nav-item:last-child a {
  padding-right: 0 !important;
}

.navbar .nav-link {
  font-weight: 500;
  font-size: 14px;
  color: #111;
  padding-left: 18px !important;
  padding-right: 18px !important;
}

.navbar .nav-link.dropdown-toggle i {
  margin-left: 12px;
  position: relative;
  top: 1px;
}

.navbar .dropdown-toggle::after {
  display: none;
}

.navbar .nav-item .dropdown-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  margin-top: 0;
  padding: 8px 20px 8px 20px;
  background: #fff;
  border: 0;
  box-shadow: 0px 0px 20px 0px #dddddd;
  width: 220px;
}

.navbar .nav-item:hover .nav-link {
  color: #7ba549;
}

.navbar .dropdown-menu.fade-down {
  top: 80%;
  transform: rotateX(-75deg);
  transform-origin: 0% 0%;
}

.navbar .dropdown-menu.fade-up {
  top: 180%;
}

.navbar .nav-item:hover .dropdown-menu {
  transition: 0.3s;
  opacity: 1;
  visibility: visible;
  top: 100%;
  transform: rotateX(0deg);
}

.navbar .dropdown-menu li {
  padding: 5px 0 5px 0;
}

.navbar .dropdown-menu li a {
  font-weight: 500;
  font-size: 14px;
  color: #111;
}

.navbar .dropdown-menu li a:hover {
  text-decoration: none;
  color: #7ba549;
}

/*===================
    header intro
===================*/
.header-intro {
  /* background-image: url("../img/bg-hero.png"); */
  background-repeat: no-repeat;
  background-size: contain;
}

.header-intro .entry {
  padding: 100px 0 75px 0;
}

.header-intro .entry p {
  margin: 10px 10px 10px 0;
}

.header-intro .entry span {
  color: #7ba549;
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
}

.header-intro .entry h2 {
  font-size: 4.5rem;
  font-weight: 550;
  line-height: 80px;
  margin: 5px 0;
}

.header-intro .entry img {
  width: 100%;
}

.points {
  margin-bottom: 7px;
}
/*===================
    header pages
===================*/
.header-pages .pages-title {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 100px;
  /* background-image: url("../img/bg-header-pages.png"); */
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.header-pages .pages-title span {
  color: #7ba549;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

.header-pages .pages-title h2 {
  font-size: 38px;
  font-weight: 700;
  margin-top: 16px;
}

/*===================
    title section
===================*/
.title-section {
  text-align: center;
  padding-bottom: 40px;
}

.title-section span {
  color: #7ba549;
  font-size: 23px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 20px;
  display: block;
}

.title-section i {
  color: #818a91;
  font-size: 50px;
  margin-bottom: 15px;
}

/*===================
    services
===================*/
.services {
  /* background-image: url("../img/bg.png"); */
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
}

.services .entry {
  margin: 0px 20px 0px 20px;
  padding: 20px 20px 2px 20px;
  border-radius: 10px;
  text-align: center;
}

.services .entry i {
  color: #7ba549;
  font-size: 75px;
}

.services .entry h5 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.services .entry:hover {
  background-color: #ffffff;
  box-shadow: 0px 1px 45px 0px #dddddd;
}

.services .first-row {
  padding-bottom: 40px;
}

.services-page {
  padding: 0 0 75px 0;
}

/*===================
    about us
===================*/
.about-us {
  background-image: url("../img/bg-about-us.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
}

.about-us .entry img {
  padding-right: 40px;
}

.about-us .entry span {
  color: #7ba549;
  font-size: 16px;
  font-weight: 600;
}

.about-us .entry h2 {
  margin: 20px 0;
}

.about-us-pages {
  padding-top: 0;
  background-image: none;
}

.our-mission .entry img {
  padding-right: 0;
  padding-left: 40px;
}

/*===================
    counter
===================*/
.counter {
  text-align: center;
}

.counter .content {
  background-color: #f9f9f9;
  background-image: url("../img/bg-counter.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 20px 60px 21px;
  border-radius: 10px;
}

.counter .content:hover {
  opacity: 0.7;
}

.counter .entry {
  font-size: 19px;
  font-weight: 400;
  color: #333;
}

.counter span {
  color: #7ba549;
  font-size: 52px;
  display: block;
  font-weight: 600;
  margin-bottom: 30px;
}

/*===================
    pricing
===================*/
.pricing {
  background-image: url("../img/bg2.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 55px 0 130px;
}

.pricing .entry {
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  margin: 0 15px 0 15px;
}

.pricing .entry h3 {
  font-size: 38px;
  color: #7ba549;
  margin: 17px 0;
}

.pricing .entry ul {
  padding: 0;
  margin: 0;
}

.pricing .entry ul li {
  list-style: none;
  padding: 5px 0;
}

.pricing .entry:hover {
  box-shadow: 0px 1px 45px 0px #dddddd;
  background: #fff;
}

.pricing .entry-center {
  background: #e7e0f2;
}

.pricing .entry-center ul li {
  color: #111;
}

.pricing .entry-center:hover {
  background: #e7e0f2;
}

.pricing .pricing-button {
  background: transparent;
  border: 1px solid #7ba549;
  color: #111;
}

.pricing-pages {
  background-image: none;
  padding: 0 0 100px 0;
}

/*===================
    why us
===================*/
.why-us {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 130px;
}

.why-us .entry {
  margin: 0px 20px 0px 20px;
  padding: 20px 20px 2px 20px;
  border-radius: 10px;
  text-align: center;
}

.why-us .entry i {
  color: #7ba549;
  font-size: 75px;
}

.why-us .entry h5 {
  margin-top: 25px;
  margin-bottom: 20px;
}

.why-us .entry:hover {
  background-color: #ffffff;
  box-shadow: 0px 1px 45px 0px #dddddd;
}

.why-us .first-row {
  padding-bottom: 40px;
}

/*===================
    our work
===================*/
.our-work {
  background-image: url("../img/bg2.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 50px 0;
}

.our-work .col-work {
  margin-bottom: 30px;
}

.our-work .col-work img {
  transition: all 0.3s;
}

.our-work .col-work img:hover {
  padding: 17px;
  opacity: 0.9;
}

/*===================
    testimonial
===================*/
.testimonial {
  background-image: url("../img/bg.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 130px;
}

.testimonial .entry {
  margin: 0px 13px 0px 13px;
  padding: 20px 20px 2px 20px;
  border-radius: 10px;
  text-align: center;
}

.testimonial .entry i {
  color: #7ba549;
  font-size: 75px;
  margin-bottom: 25px;
}

.testimonial .entry h5 {
  margin-top: 35px;
  margin-bottom: 20px;
}

.testimonial .entry:hover {
  background-color: #ffffff;
  box-shadow: 0px 1px 45px 0px #dddddd;
}

.testimonial .first-row {
  padding-bottom: 40px;
}

.testimonial-work {
  background-image: url("../img/bg.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 130px;
  padding-top: 50px;
}

.testimonial-work .entry {
  margin: 0px 13px 0px 13px;
  padding: 20px 20px 2px 20px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #ddd;
  background: #fff;
}

.testimonial-work .entry h5 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.testimonial-work .entry ul {
  margin-top: 25px;
}

.testimonial-work .entry ul li {
  display: inline-block;
}

.testimonial-work .entry ul li i {
  color: #f0ad4e;
}

.testimonial-work .entry:hover {
  background-color: #ffffff;
  box-shadow: 0px 1px 45px 0px #dddddd;
}

.testimonial-work .first-row {
  padding-bottom: 40px;
}

/*===================
    call action
===================*/
.call-action {
  padding: 30px 0 130px 0;
  text-align: center;
}

.call-action h2 {
  margin-bottom: 20px;
}

.call-action p {
  padding: 0 20%;
}

/*===================
    features
===================*/
.titlee {
  margin-top: 100px;
  margin-bottom: 20px;
  /* display: block; */
  /* font-size: 100px;
    font-weight: 500; */
}
/* .grank{
    height:50vh;
  

    background-image: url("/img/grankbg.png");
    background-size: cover;

} */
.headspan {
  color: #7ba549;
  font-size: 23px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 45px;
  margin-top: 55px;

  display: block;
}

.googlelogo {
  max-width: 400px;
}
.featurehead {
  font-size: 35px;
  /* font-weight: 800; */
  /* background: -webkit-linear-gradient(45deg, #2b3a1a, #49612b 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0; */
}

.keyfeature {
  padding: 40px 20px 40px 20px;
  background-color: #ffffff;
  box-shadow: 0px 1px 45px 0px #dddddd;
  margin-bottom: 20px; }
  

.features {
  padding: 0 0 130px 0;
}

.features .entry img {
  padding-right: 40px;
}

.features .entry span {
  color: #7ba549;
  font-size: 16px;
  font-weight: 600;
}

.features .entry h4 {
  margin: 0 0 20px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.features .accordion {
  margin-top: 30px;
}

.features .accordion .card {
  border-radius: 0;
}

.features .accordion .card-header {
  background: #fff;
  margin: 0;
  padding: 3px 6px;
  line-height: 1;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  border-bottom: 0;
}

.features .accordion .card-header button {
  color: #111;
  font-weight: 700;
  outline: none;
  font-size: 14px;
}

.features .accordion .card-header button i {
  margin-right: 15px;
  color: #888;
}

.features .accordion .card-header button:hover {
  text-decoration: none;
  color: #7ba549;
}

.features .accordion .card-header button:focus {
  text-decoration: none;
  box-shadow: none;
}

.features .accordion .collapse.show {
  border-top: 1px solid #ddd;
}

.sticon {
  color: yellowgreen;
  font-size: 50px;
}
.arrowright {
  font-size: 50px;
  color: #28a745;
  font-weight: 400;
}
.arrow {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 15px;
}

.accbutton {
  text-decoration: none;
  color: #2b3a1a;
}

.accbutton:hover {
  text-decoration: none;
  color: #28a745;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  text-decoration: none;
}
.timage {
  border-radius: 50%;
  width: 80px;
  padding-bottom: 10px;
  margin-top: 40px;
}

.whyimage {
  width: 85%;
}
/*===================
    faq
===================*/
.faq {
  padding-bottom: 120px;
}

.faq .title-section {
  padding-bottom: 50px;
}

.faq h5 {
  margin-bottom: 20px;
  margin-top: 23px;
}

/*===================
    404
===================*/
.page404 {
  text-align: center;
  padding-bottom: 130px;
}

.page404 img {
  width: 50%;
}

.page404 h2 {
  margin-bottom: 20px;
  margin-top: 40px;
}

.page404 p {
  padding: 0 25%;
}

/*===================
    Contact us
===================*/
.contact-us {
  padding-bottom: 130px;
}

.contact-us .entry {
  border-radius: 5px;
  border: 1px solid #bcbcbc;
  padding: 24px 28px 10px 28px;
}

.contact-us .entry h5 {
  margin-bottom: 10px;
}

.contact-us .entry ul li {
  padding: 8px 0;
}

.contact-us .entry ul li i {
  margin-right: 15px;
  font-size: 15px;
}

.contact-us iframe {
  margin-top: 30px;
}

/*===================
    footer
===================*/
footer {
  text-align: center;
  background: #302c42;
  /* padding: 50px 0px 50px 0px;   */
  padding-top: 50px;
  padding-bottom: 10px;
  color: #ddd;
  line-height: 22px;
  font-weight: 400;
}

footer h2 {
  color: #7ba549;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
footer h3 {
  color: #7ba549;
  font-size: 15px;
  /* margin-bottom: 20px; */
}

footer h6 {
  color: #dddddd;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

footer ul {
  margin-top: 5px;
  margin-bottom: 22px;
  /* text-align: left; */
}

footer ul li {
  display: block;
  margin: 0;
}
footer ul li a {
  color: #fff;
  transition: all 0.3s;
}

footer ul li a:hover {
  color: #7ba549;
  text-decoration: none;
  padding-left: 5px;
}
footer ul li a i {
  color: #fff;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  line-height: 32px !important;
  /* background: #ea4c89; */
  text-decoration: none;
}

/* footer ul li a .fa-facebook {
    background: #3b5998;
}

footer ul li a .fa-twitter {
    background: #1da1f2;
}

footer ul li a .fa-dribbble {
    background: #ea4c89;
}

footer ul li a .fa-behance {
    background: #1769ff;
}

footer ul li a .fa-whatsapp {
    background: #25d366;
}  */

.goup {
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #7ba549;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 999;
  border-radius: 5px;
  padding: 5px;
  font-size: 30px;
  color: #fff;
  transition: all 0.3s;
  opacity: 0;
}

.showup {
  opacity: 1;
}
.goup:hover {
  border-radius: 50px;
}

/*===================
    responsive
===================*/
@media (max-width: 767px) {
  .navbar-brand {
    margin-left: 15px;
  }

  .header-intro .entry-img {
    padding-top: 0;
  }

  .navbar .nav-item .dropdown-menu {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-top: 0;
    padding: 8px 20px 8px 20px;
    background: #fff;
    border: 0;
    box-shadow: 0px 0px 20px 0px #dddddd;
    width: 220px;
    margin-top: 10px;
    margin-left: 20px;
  }

  .navbar .nav-item:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
    display: block;
  }

  .services .entry {
    margin: 0;
  }

  .about-us .entry img {
    padding-right: 0;
    padding-bottom: 55px;
  }

  .counter .entry {
    padding: 10px 0;
    margin-bottom: 30px;
  }

  .counter .col-md-4:last-child .entry {
    margin-bottom: 0;
  }

  .pricing .entry {
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .pricing .col-md-4:last-child .entry {
    margin-bottom: 0;
  }

  /* footer {
        padding: 130px 0;
    } */

  .call-action p {
    padding: 0;
  }

  .page404 {
    text-align: center;
    padding-bottom: 130px;
  }

  .page404 img {
    width: 100%;
  }

  .page404 h2 {
    margin-bottom: 20px;
    margin-top: 40px;
  }

  .page404 p {
    padding: 0;
  }

  .our-mission .entry img {
    padding-left: 0;
  }

  .why-us .entry {
    margin: 0;
  }
  .header-intro .entry {
    padding: 20px 0 75px 0;
  }
  .header-intro .entry img {
    display: none;
  }
  .buttonsn {
    width: 100%;
  }
  .regbtn {
    width: 100%;
    margin: 20px 0;
  }
  .test {
    display: inline-block;
    width: 100%;
    align-items: center;
  }
  .arrow {
    rotate: 90deg;
  }
  .button {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .container {
    width: 100%;
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin-left: auto;
    margin-right: auto;
  }

  .counter .container {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-brand {
    margin-left: 0;
  }

  .navbar-toggler {
    padding-right: 0;
  }

  .navbar .nav-link {
    padding-left: 2px !important;
  }
  .navbar .nav-item {
    margin-left: 10px;
  }
  .navbar .nav-item .dropdown-menu {
    margin-left: 0;
  }

  .buttonsn {
    width: 100%;
  }
  .regbtn {
    width: 100%;
    margin: 20px 0;
  }
  .test {
    display: inline-block;
    width: 100%;
    align-items: center;
  }

  /* .header-intro .entry {
         padding: 10px 0px 0px 75px; 
    } */

  .counter {
    padding: 0 30px;
  }

  .services .entry {
    margin: 0;
  }

  .pricing .entry {
    margin-left: 0;
    margin-right: 0;
  }

  .header-intro .entry {
    padding: 20px 0 75px 0;
  }
  .header-intro .entry img {
    display: none;
  }
}
